<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>MSI</h5>
                <div class="contenu">
                    <p>MSI sur-mesure est une auto-entreprise de prestation de services dans le domaine de l'IT spécialisée
                        dans graphisme et la conception des sites internets.
                    </p>
                </div>
                
            </div>
            <div class="col servive">
                <h5>Services</h5>
                <div class="contenu">
                    <ul>
                        <li>Site internet</li>
                        <li>CV</li>
                        <li>Flyer</li>
                        <li>Affiche</li>
                        <li>Logo</li>
                        <li>Cartes de visite</li>
                    </ul>
                </div>
                
            </div>
            <div class="col">
                <h5 id="contacts">Contact</h5>
                <div class="contenu">
                    <p><i class="bi bi-house-fill"></i>  39 Avenue Jean Rieux, 31500 Toulouse </p>
                    <p><i class="bi bi-envelope-fill"></i>  nsilani8@gmail.com </p>
                    <p><i class="bi bi-telephone-fill"></i> +336 60 98 33 56</p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3 copyright">© 2022 Copyright:
    <span class="text-primary">MSI sur-mesure, Tous droits réservés</span> 
  </div>
  <!-- Copyright -->
</footer>