footer{
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top: 2px solid blue;
    padding-top: 40px;
}

h5{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.contenu{
    padding-top: 20px;
    font-size: 0.9em;
}

.copyright{
    font-size: small;
}



