<div class="container m-5">
    <div class="row">
        <div class="col-7">
            <div class="ac-onetext">
                <p class="ac-onetext1">Besoin d'un site internet pour votre activité professionnelle ?</p>
                <p class="ac-onetext2">Notre équipe vous accompagne à créer cet outil capital <span> pour vous 
                    démarquer et vous faire connaitre</span>  auprès de vos futurs clients et parténaires.
                </p>
            </div>
            
        </div>
        <div class="col-5 moveimg">
            <img src="https://imageshack.com/i/pmwWiNIpj" alt="" width="700" height="400">
        </div> 
    </div>
</div>