<div class="container">
    <div class="row">
        <div class="col w3-animate-top">
            <img   src="https://imageshack.com/i/pn0f8o5lp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-top">
            <img src="https://imageshack.com/i/poApb3H7p" alt="" width="180" height="100">
        </div>
        <div class="col w3-animate-top">
            <img src="https://imageshack.com/i/pmdjNP1tp" alt="" width="120" height="100">
        </div>
        <div class="col w3-animate-top">
            <img src="https://imageshack.com/i/potZYSfPp" alt="" width="180" height="100">
        </div>
    </div>
    <div class="row">
        <div class="col w3-animate-zoom">
            <img src="https://imageshack.com/i/poDQMyFWp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-zoom">
            <img src="https://imageshack.com/i/poRXlPYcp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-zoom">
            <img src="https://imageshack.com/i/pmySkCEIp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-zoom">
            <img src="https://imageshack.com/i/pohLYTHAp" alt="" width="120" height="100">
        </div>
    </div>
    <div class="row">
        <div class="col w3-animate-left">
            <img src="https://imageshack.com/i/poakanVhp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-left">
            <img src="https://imageshack.com/i/pm3RYNMGp" alt="" width="120" height="100">
        </div>
        <div class="col w3-animate-left">
            <img src="https://imageshack.com/i/pmJP9adOj" alt="" width="120" height="120">
        </div>
        <div class="col w3-animate-left">
            <img src="https://imageshack.com/i/pnv9Jx7wp" alt="" width="100" height="100">
        </div>
    </div>
    <div class="row">
        <div class="col w3-animate-bottom">
            <img src="https://imageshack.com/i/pmXnSjSHj" alt="" width="150" height="100">
        </div>
        <div class="col w3-animate-bottom">
            <img src="https://imageshack.com/i/pmEw9Gnpp" alt="" width="150" height="100">
        </div>
        <div class="col w3-animate-bottom">
            <img src="https://imageshack.com/i/pngOHNHtp" alt="" width="100" height="100">
        </div>
        <div class="col w3-animate-bottom">
            <img src="https://imageshack.com/i/pnRQ7xxfp" alt="" width="100" height="100">
        </div>
    </div>
</div>
