@font-face {
    font-family: 'Astral_Sisters';
    src: url('Astral_Sisters.ttf');
}

.navbar-light .container-fluid .navbar-brand{
    color: rgb(145, 18, 18);
    font-size: 1.7em;
}

.navbar-light .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: black;
    font-size: 1em;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-light .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    transform:scale(1.3);
    color: #0b21ec !important;
    transition:0.7s;
}

/*.navbar-light .container-fluid .navbar-collapse .navbar-nav .nav-item a {   
    color:#f3731f !important;
    font-weight:bold;
    transform : scale(1.3);
}*/

.navbar-light .container-fluid .navbar-collapse .navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-light .container-fluid .navbar-collapse .icone i{
    margin-left: 10px;
}

.navbar-light .container-fluid .navbar-collapse .navbar-nav .devis .nav-link {
    color: green;
    font-family: 'Astral_Sisters', cursive;
    font-size: 1.3em;
}

.navbar-light .container-fluid .navbar-collapse .navbar-nav .devis {
    margin-left: 6cm;
}