<div class="container" >
  <!--<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://imageshack.com/i/pmBi8mNcp" alt="" width="70" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Outils</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prestations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Expertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Recherche ..." aria-label="Recherche">
          <button class="btn btn-outline-light" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>-->

    <!--NAVBAR-->
    <!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LOGO</a>
          <span>fghd</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngFor="let menu of menus">
                <a class="nav-link active nav-items" aria-current="page" href="#">{{menu.menuTheme}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active nav-items" aria-current="page" href="#">{{menuelt2}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active nav-items" aria-current="page" href="#">{{menuelt3}}</a>
              </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Recherche ..." aria-label="Recherche">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="bi bi-search"></i>  
                </button>
              </form>
          </div>
        </div>
      </nav>-->

    <!--CAROUSEL-->
    <div id="carouselExampleIndicators" class=" my-carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://imageshack.com/i/pob8M2bpj " class="d-block w-100" alt="" width="1000" height="570">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://imageshack.com/i/poT761vAp" class="d-block w-100" alt="" width="1000" height="570">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://imageshack.com/i/pmLb4QDjp" class="d-block w-100" alt="" width="1000" height="570">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://imageshack.com/i/pmcX2pQWp" class="d-block w-100" alt="" width="1000" height="570">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

