<div class="container">
    <div class="row">
        <div class="col mydivv1">
            <i class="bi bi-laptop" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>Site Internet</h3>
        </div>
        <div class="col mydivv2">
            <i class="bi bi-file-earmark-richtext" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>CV</h3>
        </div>
        <div class="col mydivv3">
            <i class="bi bi-map" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>Flyer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col mydivv4">
            <i class="bi bi-newspaper" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>Affiche</h3>
        </div>
        <div class="col mydivv5">
            <i class="bi bi-tsunami" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>Logo</h3>
        </div>
        <div class="col mydivv6">
            <i class="bi bi-person-video2" style="font-size: 3.5rem; color: rgb(6, 7, 6);"></i>
            <h3>Carte de visites</h3>
        </div>
    </div>
</div>
