<div class="container">
    <div class="row titre"> 
        <p>
            <i class="bi bi-hourglass-split"></i> Voici un programme
        </p>
    </div>
    <div class="row contenu">
        <div class="col">
            <p class="p1">monPremierProgramme &#123;</p>
            <p class="p2">&nbsp; <span class="d1">class</span>  Dévis <span class="d1">&#123;</span> </p>
            <p class="p3">&nbsp; &nbsp; &#47;&#47; --- Déclaration ---</p>
            <p class="p4">&nbsp; &nbsp; &nbsp; <span class="a">String</span>  a = "je";</p>
            <p class="p5">&nbsp; &nbsp; &nbsp; <span class="a">String</span> b = "demande";</p>
            <p class="p6">&nbsp; &nbsp; &nbsp; <span class="a">String</span> c = "un";</p>
            <p class="p7">&nbsp; &nbsp; &nbsp; <span class="a">String</span> d = "dévis";</p>
            <p class="p8">&nbsp; &nbsp; &nbsp; <span class="a">String</span> resultat;</p>

            <p class="p9">&nbsp; &nbsp; &#47;&#47; --- Traitement ---</p>
            <p class="p10">&nbsp; &nbsp; &nbsp; resultat = a + b + c + d;</p>
            <p class="p11">&nbsp; &#125;</p>
            <p class="p12"> &#125;</p>

            <p class="p13">&nbsp; &nbsp; &#47;&#47; --- Résultats console ---</p>
            <p class="p14">&nbsp; &nbsp; &nbsp; je demande un dévis</p>

        </div>
        <div class="col">
            <div class="imagDevis">
                <a href="mailto:nsilani8@gmail.com">
                    <img src="https://imageshack.com/i/powcz8Uap" alt="">
                </a>               
            </div>
            
        </div>
    </div>
</div>
